select{
    padding: 12px 50px 11px 24px;
    border: solid 1px #dddee2;
    font-size: 12px;
    letter-spacing: -0.6px;
    text-align: left;
    color: #202020;
    appearance: none;
    background: url('./../img/select_arrow.svg') no-repeat 95% 50%;

    &.noIndent{
        text-indent: 0 !important;
    }
}