@import "./common";

body{
    background-color: #f9f9f9;
}

main{
    width: 360px;
    margin: 0 auto;
}

.body{
    margin-top: 20px;
    padding: 30px 26px 40px;
    box-sizing: border-box;
    background-color: #fff;

    h1{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -1.26px;
        text-align: left;
        color: #202020;
    }

    p{
        margin-top: 20px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: -0.84px;
        text-align: left;
        color: #202020;

        i{
            font-style: normal;
            position: relative;

            img{
                width: 55px;
                height: auto;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        b.blue{
            font-weight: normal;
            margin-left: 10px;
            color: $blue;
        }
    }
    
    span.line{
        width: 100%;
        display: block;
        height: 1px;
        background-color: #e8e8e8;
        margin: 20px auto;
    }

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left, .right{
            flex: 1;
            border: 1px solid $blue;
            border-radius: 4px;
            background-color: #fff;
            overflow: hidden;

            .top{
                padding: 10px;
                h5{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.43;
                    letter-spacing: -0.98px;
                    text-align: left;
                    color: $blue;
                }
            }
            .bottom{
                padding: 8px 0 10px;
                background-color: #d6e3ff;
                border-top: 1px solid $blue;
                p{
                    margin: 0;
                    font-size: 10px;
                    font-weight: normal;
                    line-height: normal;
                    letter-spacing: -0.7px;
                    text-align: center;
                    color: #3d78ff;
                }
            }
        }

        .center{
            margin: 0 7px;
            width: 22px;
            height: 22px;
            border-radius: 22px;
            border: solid 1px $blue;
            background-color: #fff;
            position: relative;

            &::before, &::after{
                content: '';
                display: block;
                width: 13px;
                height: 1px;
                background-color: $blue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::after{
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }

    p.gray{
        font-size: 10px;
        line-height: 2;
        letter-spacing: -0.9px;
        text-align: left;
        color: #b1b1b1;
    }
}

button{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    background-color: $blue;
    font-size: 12px;
    letter-spacing: -0.84px;
    text-align: center;
    color: #f9f9f9;
    padding: 11px 0 12px;
    cursor: pointer;

    &:disabled{
        cursor: default;
        background-color: #d6e3ff;
    }
}

.hideBtns{
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 24px;
    padding-right: 14px;

    button{
        width: auto;
        background: none;
        color: #b1b1b1;
        position: relative;
        display: block;

        &::after{
            content: "\00d7";
            display: block;
            position: absolute;
            top: 50%;
            right: -14px;
            transform: translateY(-50%);
            font-size: 14px;
        }
    }
}