@import "./common";

body{
    background-color: #f9f9f9;
}

main{
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
}

.body{
    padding: 30px 26px 40px;
    box-sizing: border-box;

    h1{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -1.26px;
        text-align: left;
        color: #202020;
    }

    p{
        margin-top: 20px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: -0.84px;
        text-align: left;
        color: #202020;
    }
    
    span.line{
        width: 100%;
        display: block;
        height: 1px;
        background-color: #e8e8e8;
        margin: 20px auto;
    }

    u{
        display: block;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: -0.84px;
        text-align: left;
        color: #202020;
    }
}

button{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    background-color: $blue;
    font-size: 12px;
    letter-spacing: -0.84px;
    text-align: center;
    color: #f9f9f9;
    padding: 11px 0 12px;
    cursor: pointer;

    &:disabled{
        cursor: default;
        background-color: #d6e3ff;
    }
}