@import "./common", "./modal", "./selectbox";

@mixin font12 {
    font-size: 12px;
}

@mixin font14 {
    font-size: 14px;
}

@mixin font16 {
    font-size: 16px;
}

@mixin font18 {
    font-size: 18px;
}


@mixin keyframes ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}

@include keyframes (rotate) {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

article#topMenus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    p {
        @include font18;

        font-weight: 500;
        white-space: nowrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;

        li {
            min-width: 150px;

            a {
                @include font16;
                width: 100%;

                font-weight: 500;
                letter-spacing: -0.7px;
                color: #aaaaaa;
                padding: 5px 0;
                text-align: center;
                display: block;
            }

            &.active {
                border-bottom: 2px solid #2dabe8;

                a {
                    color: #2dabe8;
                    font-weight: bold;
                }
            }
        }
    }
}

article#blank {
    height: 70vh;
}

.modal#changePayModal {
    .popupBody {
        width: 560px;
        max-height: 80vh;

        .head {
            width: 100%;
            height: auto;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 34px;
            box-sizing: border-box;

            h5 {
                @include font18;

                font-weight: bold;
                line-height: 2.56;
                letter-spacing: -0.9px;
                text-align: left;
                color: #22262f;
            }
        }

        .body {
            width: 100%;
            padding: 40px 34px;
            box-sizing: border-box;

            h4 {
                @include font18;
                font-weight: bold;
                letter-spacing: -1.26px;
                color: #202020;
            }

            .ticketBox {
                margin-top: 14px;
                border: solid 1px #f1f1f1;
                background-color: #f9f9f9;
                box-sizing: border-box;
                padding: 22px 32px;
                position: relative;

                &#afterTicket {
                    padding: 34px 32px;
                }

                &.mega {
                    &::before {
                        background-color: #00bbe2;
                    }
                }

                &.giga {
                    &::before {
                        background-color: $blue;
                    }
                }

                &.tera {
                    &::before {
                        background-color: #ffb950;
                    }
                }

                &.bank_acc1_1m {
                    &::before {
                        background-color: #c9d966;
                    }
                }

                &.bank_acc3_1m {
                    &::before {
                        background-color: #b3b560;
                    }
                }

                &.bank_accInf_1m {
                    &::before {
                        background-color: #3f4710;
                    }
                }

                &.bank_acc1_12m {
                    &::before {
                        background-color: #f5b2b2;
                    }
                }

                &.bank_acc3_12m {
                    &::before {
                        background-color: #f35656;
                    }
                }

                &.bank_accInf_12m {
                    &::before {
                        background-color: #0035e1;
                    }
                }

                &::before {
                    content: attr(data-ticketname);
                    @include font18;
                    font-weight: 500;
                    letter-spacing: -1.26px;
                    text-align: center;
                    color: #fff;
                    padding-top: 36px;
                    // content: '';
                    width: 68px;
                    height: 80px;
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 22px;
                }

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-bottom: 34px solid #f9f9f9;
                    border-top: 34px solid transparent;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    display: block;
                    position: absolute;
                    top: 58px;
                    right: 6px;
                }

                h5 {
                    @include font18;
                    font-weight: bold;
                    letter-spacing: -1.26px;
                    color: #202020;
                }

                p.special {
                    margin-top: 4px;
                    margin-left: 8px;
                    @include font14;
                    font-weight: 500;
                    letter-spacing: -0.98px;
                    color: #202020;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        width: 3px;
                        height: 3px;
                        border-radius: 3px;
                        background-color: #202020;
                        position: absolute;
                        top: 50%;
                        left: -8px;
                        transform: translateY(-50%);
                    }
                }

                p.gray {
                    margin-top: 18px;
                    @include font14;
                    font-weight: 500;
                    letter-spacing: -0.98px;
                    color: #b2b2b2;

                    b {
                        font-weight: 500;
                    }
                }
            }

            .ticketSelect {
                border: solid 1px #f1f1f1;
                background-color: #fff;
                padding: 23px 22px;
                box-sizing: border-box;
                display: flex;
                align-items: flex-start;

                ul {
                    flex: 1;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 18px;
                    row-gap: 14px;

                    li {
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        cursor: pointer;

                        &.active {
                            outline: 2px solid #2e2e2e;
                            position: relative;

                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 10px;
                                height: 2px;
                                background-color: #fff;
                                top: 16px;
                                left: 5px;
                                transform: rotate(45deg);
                            }

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 16px;
                                height: 2px;
                                background-color: #fff;
                                top: 14px;
                                left: 10px;
                                transform: rotate(-45deg);
                            }
                        }

                        &.mega {
                            background-color: #00bbe2;
                        }

                        &.giga {
                            background-color: $blue;
                        }

                        &.tera {
                            background-color: #ffb950;
                        }

                        &.bank_acc1_1m {
                            background-color: #c9d966;
                        }

                        &.bank_acc3_1m {
                            background-color: #b3b560;
                        }

                        &.bank_accInf_1m {
                            background-color: #3f4710;
                        }

                        &.bank_acc1_12m {
                            background-color: #f5b2b2;
                        }

                        &.bank_acc3_12m {
                            background-color: #f35656;
                        }

                        &.bank_accInf_12m {
                            background-color: #0035e1;
                        }
                    }
                }
            }
        }

        p.underMsg{
            margin-top: 10px;
            @include font12;
        }

        .btnBox{
            position: sticky;
            bottom: 0;
            button{
                &.black{
                    background-color: #202020;
                    color: #fff;
                }
                &.changeBlue{
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .modal#changePayModal {
        .popupBody {
            width: 100%;

            .body{
                padding: 20px 17px;

                .ticketBox{
                    &::before{
                        @include font12;
                        padding-top: 26px;
                        width: 48px;
                        height: 60px;
                    }
                    &::after{
                        content: '';
                        width: 0;
                        height: 0;
                        border-bottom: 20px solid #f9f9f9;
                        border-top: 20px solid transparent;
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        top: 47px;
                        right: 21px;
                    }
                }
            }
        }
    }
}