@import "./common", "./modal", "./selectbox";

article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

article#topMenus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    p {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;

        li {
            min-width: 150px;

            a {
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.7px;
                color: #aaaaaa;
                padding: 5px 0;
                text-align: center;
                display: block;
            }

            &.active {
                border-bottom: 2px solid #2dabe8;

                a {
                    color: #2dabe8;
                    font-weight: bold;
                }
            }
        }
    }
}

article#exceptionWord{
    margin-top: 40px;
    h5{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.7px;
        text-align: left;
        color: #202020;
    }
    .flex{
        margin-top: 10px;
        display: flex;
        align-items: center;

        input{
            flex: 1;
            min-width: 210px;
            max-width: 480px;
            padding: 11px 0 12px;
            border: solid 1px #dddee2;
            outline: none;
            border-radius: 0;
            background-color: #fff;
            text-indent: 10px;
            font-size: 12px;
            letter-spacing: -0.6px;
            text-align: left;
            color: #202020;

            &::placeholder{
                color: #ccced4;
            }
           

            &:focus{
                outline: 1px solid $blue;
            }
        }

        button{
            width: 120px;
            padding: 12px 0 13px;
            background-color: #3d78ff;
            font-size: 12px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    p{
        margin: 10px 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.6px;
        text-align: left;
        color: #ccced4;
        position: relative;
        padding-left: 10px;

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background-color: #ccced4;
        }
    }

    span.exceptionCount{
        display: block;
        text-align: right;
        font-size: 14px;
        letter-spacing: -0.6px;
        b{
            font-weight: 500;
        }
    }

    .wordsBox{
        border: 1px solid #dddee2;
        background-color: #f5f6f9;
        padding: 20px;

        ul{
            display: flex;
            flex-wrap: wrap;
            column-gap: 4px;
            row-gap: 4px;

            li{
                display: flex;
                align-items: center;
                padding: 7px 20px 8px;
                border-radius: 20px;
                border: solid 1px #3d78ff;
                background-color: #d6e3ff;
                box-sizing: border-box;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: -0.75px;
                text-align: center;
                color: #3d78ff;

                button{
                    margin-left: 10px;
                    width: 15px;
                    height: 15px;
                    border: none;
                    background: none;
                    outline: none;
                    position: relative;
                    cursor: pointer;

                    &::after{
                        content: "\00d7";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                        line-height: 1.2;
                        color: $blue;
                    }
                }
            }
        }
    }
}

article#exceptionHistory{
    margin-top: 40px;
    margin-bottom: 200px;

    h5{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.7px;
        color: #202020;
    }

    .tableWrap{
        margin-top: 10px;
        table {
            width: 100%;
            border-collapse: collapse;
    
            thead {
                tr {
                    td {
                        border: 1px solid #dddee2;
                        padding: 12px 0 11px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: 1px solid #dddee2;
                        padding: 12px 0 13px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
                    }
                }
            }
        }
    }

    .underTable {
        margin-top: 20px;

        .paginationBox {
            display: flex;
            align-items: center;
            justify-content: center;

            .pagination {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 20px;
                    height: auto;
                    font-size: 12px;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #202020;
                    border: none;
                    outline: none;
                    background: none;
                    cursor: pointer;

                    img {
                        width: 10px;
                        margin: 0 auto;

                        &.left {
                            transform: rotate(180deg);
                        }
                    }

                    &:disabled {
                        cursor: default;
                        color: #707070;

                        img {
                            opacity: .5;
                        }
                    }

                    &.active {
                        color: $blue;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 945px) {
    article#topMenus {
        p {
            font-size: 16px;
        }
    
        ul {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
    article#exceptionWord{
        h5{
            font-size: 12px;
    
            small{
                display: block;
                font-size: 10px;
            }
        }
    
        .wordsBox{
            padding: 15px;
            ul{
                li{
                    padding: 5px 8px 6px;
                    font-size: 13px;
                    button{
                        margin-left: 5px;
                        &::after{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    
    article#exceptionHistory{
        h5{
            font-size: 12px;
        }
    }
}