@import "./common", "./modal", "./selectbox";

@mixin keyframes ($animation_name) {
	@keyframes #{$animation_name} {
		@content;
	}
}

@include keyframes (rotate) {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

article#topMenus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    p {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;

        li {
            min-width: 150px;

            a {
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.7px;
                color: #aaaaaa;
                padding: 5px 0;
                text-align: center;
                display: block;
            }

            &.active {
                border-bottom: 2px solid #2dabe8;

                a {
                    color: #2dabe8;
                    font-weight: bold;
                }
            }
        }
    }
}

article#malls{
    margin-top: 40px;
    .flex{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .left{
            display: flex;
            align-items: center;
            margin-right: 20px;

            h5{
                width: 120px;
                font-size: 12px;
                letter-spacing: -0.6px;
                text-align: center;
                color: #202020;
                padding: 12px 39px 11px 39px;
                border: solid 1px #dddee2;
                background-color: #f5f6f9;
                box-sizing: border-box;
            }
    
            select{
                width: 170px;
                border-left: none;
            }
        }

        .center{
            display: flex;
            align-items: center;

            ._1, ._2{
                display: flex;
                align-items: center;
                padding: 5px 25px;
                box-sizing: border-box;
                border: 1px solid #dddee2;
                background-color: #fff;
    
                h5{
                    font-size: 12px;
                    letter-spacing: -0.6px;
                    font-weight: normal;
                    text-align: left;
                    color: #202020;
                }
    
                .textWrap{
                    margin-left: 8px;
                    padding: 6px 14px 7px;
                    border-radius: 15px;
                    background-color: #f5f6f9;
    
                    p{
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        b,strong{
                            font-weight: normal;
                        }
    
                        strong{
                            color: #ff1d1d;
                        }
                    }
                }
            }

            ._2{
                border-left: none;
            }
        }

        button#update{
            margin-left: 10px;
            border: none;
            outline: none;
            background: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 13.5px 0;

            i{
                font-size: 15px;
            }
            p{
                margin-left: 4px;
                font-size: 12px;
                letter-spacing: -0.6px;
                text-align: left;
                color: #202020;
                line-height: 1.2;
                b{
                    font-weight: normal;
                }
            }

            &.rotate{
                i{
                    animation: rotate infinite 1s ease-in-out;
                }
            }
        }
    }

    .tableWrap{
        margin-top: 40px;
        table {
            width: 100%;
            border-collapse: collapse;
    
            thead {
                tr {
                    td {
                        border: 1px solid #dddee2;
                        padding: 12px 0 11px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
    
                        &.gray_2 {
                            background-color: #ecedf0;
                        }
    
                        &.gray_3 {
                            background-color: #d2d3d9;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border: 1px solid #dddee2;
                        padding: 4px 0 5px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
    
                        &.gray_2 {
                            background-color: #ecedf0;
                        }
    
                        &.gray_3 {
                            background-color: #d2d3d9;
                        }

                        &.blue{
                            background-color: #d6e3ff;
                            border: 1px solid $blue;
                        }

                        a{
                            color: $blue;
                        }

                        button#memo {
                            width: 19px;
                            height: 19px;
                            border-radius: 19px;
                            border: none;
                            outline: none;
                            background-color: #ecedf0;
                            cursor: pointer;
                            color: #202020;

                            &.preview{
                                width: auto;
                                height: auto;
                                text-decoration: underline;
                                background: none;
                                font-size: 12px;
                            }
                        }
    
                        #memoPopup{
                            width: 240px;
                            height: auto;
                            position: absolute;
                            top: 0;
                            right: 100%;
                            background-color: #fff;
                            padding: 16px 20px;
                            box-sizing: border-box;
                            border-radius: 8px;
                            box-shadow: 0 0 6px #d2d3d9;
    
                            .topDiv{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                column-gap: 20px;
    
                                button{
                                    outline: none;
                                    background: none;
                                    border: none;
                                    font-size: 12px;
                                    letter-spacing: -0.6px;
                                    cursor: pointer;
                                    
                                    &#cancelMemo{
                                        color: #202020;
                                    }
                                    &#saveMemo{
                                        color: $blue;
                                    }
                                }
                            }
    
                            textarea{
                                width: 100%;
                                min-height: 106px;
                                border: none;
                                margin-top: 18px;
                                resize: none;
    
                                &::placeholder{
                                    color: #c2c2c2;
                                }
                            }
    
                            span#byteText{
                                border: none;
                                margin: 0;
                                width: auto;
                                height: auto;
                                position: absolute;
                                bottom: 20px;
                                right: 26px;
                                font-size: 12px;
                                letter-spacing: -0.6px;
                                color: #c2c2c2;
                            }
    
                            #cancelMemoPopup{
                                width: 240px;
                                height: auto;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: #fff;
                                padding: 40px 20px 16px 20px;
                                box-sizing: border-box;
                                border-radius: 8px;
                                box-shadow: 0 0 6px #d2d3d9;
    
                                .bottomDiv{
                                    margin-top: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    column-gap: 13px;
    
                                    button{
                                        outline: none;
                                        background: none;
                                        border: none;
                                        font-size: 12px;
                                        font-weight: bold;
                                        letter-spacing: -0.6px;
                                        cursor: pointer;
                                        
                                        &#cancelNo{
                                            color: #202020;
                                        }
                                        &#cancelYes{
                                            color: $blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

article#notice {
    margin-top: 40px;
    margin-bottom: 200px;

    .grayBox {
        border: 1px solid #dfdfe3;
        box-sizing: border-box;

        .top {
            background-color: #f5f6f9;
            padding: 10px 18px;
            box-sizing: border-box;

            p {
                font-size: 14px;
                letter-spacing: -0.6px;
                text-align: left;
                color: #202020;
            }
        }

        ul.contents {
            padding: 20px 18px;
            box-sizing: border-box;
            li {
                position: relative;
                padding-left: 10px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.6px;
                text-align: left;
                color: #202020;

                &:not(:last-child){
                    margin-bottom: 10px;
                }

                &::before{
                    content: '';
                    width: 3px;
                    height: 3px;
                    display: block;
                    border-radius: 3px;
                    background-color: #202020;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media only screen and (max-width: 1025px) {
    article#malls{
        .flex{
            flex-wrap: wrap;
            row-gap: 5px;
        }
        .tableWrap{
            overflow-x: scroll;
            outline: 1px solid #e2e2e2;
            outline-offset: -1px;

            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background-color: #fff;
                border: 1px solid #e2e2e2;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #f2f2f2;
                border: 1px solid #e2e2e2;
            }

            table{
                min-width: 908px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    article#malls{
        .flex{
            .left{
                margin-right: 0;
                width: 100%;

                select{
                    flex: 1;
                }
            }
            .center{
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 5px;

                ._1, ._2{
                    width: 100%;

                    h5{
                        width: 95px;
                    }
                    .textWrap{
                        margin-left: 0;
                    }
                }

                ._2{
                    border-left: 1px solid #dddee2;
                }
            }
        }

        .tableWrap{
            margin-top: 20px;
        }
    }
}