@import "./common", "./modal", "./selectbox";

article {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

article#topMenus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    p {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;

        li {
            min-width: 150px;

            a {
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.7px;
                color: #aaaaaa;
                padding: 5px 0;
                text-align: center;
                display: block;
            }

            &.active {
                border-bottom: 2px solid #2dabe8;

                a {
                    color: #2dabe8;
                    font-weight: bold;
                }
            }
        }
    }
}

article#settlementAccList{
    margin-top: 40px;
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1.2px;
            text-align: left;
            color: #202020;
        }

        button{
            width: 140px;
            display: block;
            padding: 6px 0 7px 0;
            border-radius: 2px;
            background-color: #202020;
            font-size: 12px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
    .tableTop{
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border: solid 1px #dfdfe3;
        box-sizing: border-box;

        p.leftAmount{
            font-size: 12px;
            letter-spacing: -0.6px;
            text-align: left;
            color: #202020;
            b{
                margin-left: 6px;
                color: $blue;
                font-weight: normal;
            }
        }

        .contents{
            flex: 1;
            margin-left: 38px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .counts{
                flex: 1;
                display: flex;
                align-items: center;
                column-gap: 4px;
                .box{
                    padding: 6px 16px 7px;
                    border-radius: 15px;
                    background-color: #f5f6f9;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    span {
                        display: block;
                        width: 8px;
                        height: 8px;
                        border-radius: 10px;
                        border: 1px solid;
                        margin-right: 4px;

                        &.blue {
                            border-color: $blue;
                            background-color: $blue;
                        }

                        &.yellow {
                            border-color: #ffc45e;
                            background-color: #ffc45e;
                        }

                        &.red {
                            border-color: #e80037;
                            background-color: #e80037;
                        }

                        &.gray {
                            border-color: #5e5e5e;
                            background-color: #5e5e5e;
                        }
                    }
                    p{
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
                    }
                }
            }

            span#updateTime{
                font-size: 12px;
                line-height: 3.33;
                letter-spacing: -0.6px;
                text-align: left;
                color: #9e9ea4;

                b{
                    font-weight: normal;
                }
            }
        }
    }

    .tableWrap{
        margin-top: 20px;

        table {
            width: 100%;
            border-collapse: collapse;
    
            thead {
                tr {
                    border: 1px solid #dddee2;
                    td {
                        padding: 12px 0 11px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
    
                        &.gray_2 {
                            background-color: #ecedf0;
                        }
    
                        &.gray_3 {
                            background-color: #d2d3d9;
                        }
                    }
                }
            }
    
            tbody {
                tr {
                    border: 1px solid #dddee2;
                    td {
                        padding: 6px 0 7px 0;
                        font-size: 12px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #202020;
    
                        &.gray_1 {
                            background-color: #f5f6f9;
                        }
    
                        &.gray_2 {
                            background-color: #ecedf0;
                        }
    
                        &.gray_3 {
                            background-color: #d2d3d9;
                        }
    
                        span {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 10px;
                            border: 1px solid;
                            margin-right: 4px;
    
                            &.blue {
                                border-color: $blue;
                                background-color: $blue;
                            }
    
                            &.yellow {
                                border-color: #ffc45e;
                                background-color: #ffc45e;
                            }
    
                            &.red {
                                border-color: #e80037;
                                background-color: #e80037;
                            }
    
                            &.gray {
                                border-color: #5e5e5e;
                                background-color: #5e5e5e;
                            }
                        }

                        select{
                            width: 140px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}

article#summary{
    margin-top: 40px;
    .title{
        h1{
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -1.2px;
            text-align: left;
            color: #202020;
        }
    }
    .tableWrap{
        margin-top: 10px;
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 900px) {
    article#settlementAccList{

        .tableTop{
            flex-direction: column;
            align-items: flex-start;

            p.leftAmount{
                margin-top: 10px;
            }
    
            .contents{
                margin-top: 20px;
                margin-left: 0;
                flex-direction: column;
                align-items: normal;
    
                .counts{
                    flex-wrap: wrap;
                    row-gap: 10px;
                }
    
                span#updateTime{
                    width: 100%;
                    text-align: right;
                }
            }
        }
    
        .tableWrap{
            overflow-x: auto;
            overflow-y: auto;
            outline: 1px solid #dddee2;
            outline-offset: -1px;

            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background-color: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #bec0c5;
            }
    
            table {
                min-width: 800px;
                width: 100%;
                border-collapse: collapse;
        
                thead {
                    tr {
                        border: 1px solid #dddee2;
                        td {
                            padding: 12px 0 11px 0;
                            font-size: 12px;
                            letter-spacing: -0.6px;
                            text-align: center;
                            color: #202020;
        
                            &.gray_1 {
                                background-color: #f5f6f9;
                            }
        
                            &.gray_2 {
                                background-color: #ecedf0;
                            }
        
                            &.gray_3 {
                                background-color: #d2d3d9;
                            }
                        }
                    }
                }
        
                tbody {
                    tr {
                        border: 1px solid #dddee2;
                        td {
                            padding: 6px 0 7px 0;
                            font-size: 12px;
                            letter-spacing: -0.6px;
                            text-align: center;
                            color: #202020;
        
                            &.gray_1 {
                                background-color: #f5f6f9;
                            }
        
                            &.gray_2 {
                                background-color: #ecedf0;
                            }
        
                            &.gray_3 {
                                background-color: #d2d3d9;
                            }
        
                            span {
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                border-radius: 10px;
                                border: 1px solid;
                                margin-right: 4px;
        
                                &.blue {
                                    border-color: $blue;
                                    background-color: $blue;
                                }
        
                                &.yellow {
                                    border-color: #ffc45e;
                                    background-color: #ffc45e;
                                }
        
                                &.red {
                                    border-color: #e80037;
                                    background-color: #e80037;
                                }
        
                                &.gray {
                                    border-color: #5e5e5e;
                                    background-color: #5e5e5e;
                                }
                            }
    
                            select{
                                width: 140px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}